#page2-section img, #page3-section img {max-width: 50%;}
header img {max-width: 100%;}


@media(min-width: 450px) {

    #main-section {display: flex;}
    #page2-section img {max-width: 75%;}
    nav, nav ul {display: flex;
        align-items: center;
       padding: 0;}

    nav > a{flex: 1;}
    nav ul {flex: 4;}
    nav {justify-content: space-between;}

}





nav li a {color: black;}
nav li a:hover{background-color: black;
    color: lightblue;
    border-radius: 1rem;}